*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    font-weight: bold;
    font-family: sans-serif;
}

body{
    background-color: #000814;
    
}
#container{

    display: grid;
    grid-template-columns: 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px;
    grid-template-rows: 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px;
    gap: 55px;
    
    
    margin-right: 43px;
}


#card{
    

    
    
    display: flex;
    justify-content: center;
    width: 800px;
    margin: 30px auto;

    border-radius: 100px;
}
    


    

div{
    min-width: 65px;
    min-height: 65px;
   display: flex;
   justify-content: center;
   align-items: center;
   
}

body{
}